-
  var header ='#recent clients'
  var clientList = [
            "/asset/image/client/Carrefour.jpg",
           "/asset/image/client/FedEx.jpg",
            "/asset/image/client/Google.jpg",
            
        ];

#client
.client
  .client__header=header
  .client__list 
    each client in clientList
         .client__image
             